<div class="user-form container">
  <div class="row">
    <div class="col-md-6">
      <form [formGroup]="userForm">
      <mat-card class="card">
        <mat-card-title>用户追加</mat-card-title>
        <mat-card-content>
            <mat-form-field appearance="outline">
              <mat-label>ユーザー名</mat-label>
              <input
                matInput
                id="username"
                name="username"
                formControlName="Username"
                required
              />
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
            <br />

            <mat-form-field appearance="outline">
              <mat-label>メール</mat-label>
              <input
                matInput
                id="useremail"
                name="useremail"
                formControlName="userEmail"
                required
              />
              <mat-icon matSuffix>email</mat-icon>
              <mat-error *ngIf="userForm.get('userEmail')?.errors">A valid email must be provided.</mat-error>
            </mat-form-field>
            <br />

            <mat-form-field appearance="outline">
              <mat-label>ユーザーの役割 </mat-label>
              <input
                matInput
                id="userrole"
                name="userrole"
                formControlName="userRole"
                placeholder="ユーザーの役割"
                required
              />
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <br />

            <mat-form-field appearance="outline">
              <mat-label>テナント Id</mat-label>
              <input
                matInput
                id="tenantid"
                name="tenantid"
                formControlName="tenantId"
                placeholder="テナント Id"
                required
              />
              <mat-icon matSuffix>folder_special</mat-icon>
            </mat-form-field>
            <br />

            <mat-card-actions>
              <div class="button-panel">
                <button
                mat-raised-button
                class="btn btn-block btn-primary"
                [disabled]="!userForm.valid"
                (click)="onSubmit()"
                type="button"
                >
                  <span>保存</span>
                </button>
                <button
                  mat-raised-button
                  class="btn btn-block btn-danger"
                  routerLink="/users"
                  type="button"
                >
                  <span>キャンセル</span>
                </button>
              </div>
            </mat-card-actions>
        </mat-card-content>
      </mat-card>
      </form>
    </div>
  </div>
</div>
