<div fxLayout="column" class="tenant-form">
  <form [formGroup]="tenantForm" (submit)="submit()">
    <mat-card class="card">
      <mat-card-title>テナント追加</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-label>名称</mat-label>
          <input
            matInput
            placeholder="名称"
            formControlName="tenantName"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>メール</mat-label>
          <input
            matInput
            placeholder="メール"
            formControlName="tenantEmail"
            required
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>電話番号</mat-label>
          <input
            matInput
            placeholder="1234567890"
            formControlName="tenantPhone"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>住所</mat-label>
          <input
            matInput
            placeholder=""
            formControlName="tenantAddress"
          />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>計画</mat-label>
          <select matNativeControl required formControlName="tenantTier">
            <option>1つ選択...</option>
            <option value="Basic">基本的</option>
            <option value="Standard">標準</option>
            <option value="Premium">保険料</option>
            <option value="Platinum">プラチナ</option>
          </select>
        </mat-form-field>
        <mat-card-footer>
          <div class="button-panel">
            <button
              mat-raised-button
              color="primary"
              (click)="(submit)"
              [disabled]="!tenantForm.valid"
              type="submit"
              *ngIf="!submitting"
            >
              保存
            </button>
            <button mat-raised-button color="warn" [routerLink]="['/tenants']" type="button" *ngIf="!submitting">
              キャンセル
            </button>
            <mat-card *ngIf="submitting" style="display: flex; justify-content: center; align-items: center">
              <mat-progress-spinner
                color="primary"
                mode="indeterminate"
                diameter="15"
                >
              </mat-progress-spinner>
            </mat-card>
          </div>
        </mat-card-footer>
      </mat-card-content>
    </mat-card>
  </form>
</div>
