<div class="container invoice">
  <div class="invoice-header">
    <div class="row">
      <div class="col-xs-8">
        <h1>订单详情 <small>创建时间</small></h1>
        <h5 class="text-muted">
          NO: {{ orderId$ | async }} | Date: {{ today() | date }}
        </h5>
      </div>
    </div>
  </div>
  <div class="invoice-body">
    <div class="row">
      <div class="card">
        <div class="card-header">
          <h3>服务 / 商品</h3>
        </div>
        <table class="table table-bordered table-responsive no-bottom-margin">
          <thead>
            <tr>
              <th>商品 / 详情</th>
              <th class="text-center colfix">单价</th>
              <th class="text-center colfix">总价</th>
              <th class="text-center colfix">打折</th>
              <th class="text-center colfix">稅</th>
              <th class="text-center colfix">总共</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let op of orderProducts$ | async">
              <td class="nowrap">
                {{ op.productId }}
                <br />
              </td>
              <td class="text-right">
                <span class="mono">{{ op.price | currency }}</span>
                <br />
                <small class="text-muted">稅前</small>
              </td>
              <td class="text-right">
                <span class="mono">{{ sum(op) | currency }}</span>
                <br />
                <small class="text-muted">{{ op.quantity }} 单价</small>
              </td>
              <td class="text-right">
                <span class="mono">$0.00</span>
                <br />
                <small class="text-muted">None</small>
              </td>
              <td class="text-right nowrap">
                <span class="mono">{{ tax(op) | currency }}</span>
                <br />
                <small class="text-muted">销售税 8.9%</small>
              </td>
              <td class="text-right">
                <strong class="mono">{{ total(op) | currency }}</strong>
                <br />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
